# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.vscode/
.idea/
*.launch
Debug/

# Environment variables
.env

#LTspice
*.op.raw
*.raw
*.log
*.fft
*.net 

# C files
*.o
*.so

# output files
*.wav
